## add your work email
.env

# log files & cache
.snakemake
logs
scripts/__pycache__/
*.code-workspace
benchmarks

ingest/.snakemake/
ingest/benchmarks/
ingest/logs/

data/*
auspice/

*errors.csv

*/results/
*/temp/
ingest/data/*
!ingest/data/references/
ingest/data/references/nextclade.tsv

*.code-workspace

ingest/vendored
tmp/
results/*
test_out/*
out-dataset/*
dataset.zip

metadata.tmp

config.yaml